crispy_bootstrap4==2023.1
Django==4.2.6
django-cas-ng==5.0.0
django-crispy-forms==2.1
django-redis==5.4.0
gunicorn==21.2.0
LightPipes==2.1.4
numpy==1.26.1
pandas==2.1.1
plotly==5.17.0
python-environ==0.4.54
python-ldap===3.4.3
redis==5.0.1
secret-key-generator==0.0.8
selph-light-lib==0.0.5
