Django==4.1.4
django-cas-ng==4.3.0
django-crispy-forms==1.14.0
django-redis==5.2.0
LightPipes==2.1.3
numpy==1.23.5
pandas==1.5.2
plotly==5.11.0
redis==4.4.0
secret_key_generator==0.0.8
sepl_light_lib==0.0.4
