{% extends "base.html" %}
{% load static %}

{% block title %}
    Интерферометр Фабри-Перо
{% endblock %}

{% block head %}
    <script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>
{% endblock %}

{% block content %}
    {% include 'components/interferometer-interface.html' %}

    {% if user.is_authenticated %}
        <div class="container pt-5">
            <div class="accordion" id="accordionTables">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Сохраненные наборы данных
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div id="presets" class="accordion-body table-responsive">
                            {{ presets_table | safe }}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            История ваших запросов
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div id="history" class="accordion-body table-responsive">
                            {{ history_table | safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/autoFill.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/updateWithoutReload.js' %}" type="text/javascript"></script>
{% endblock %}