{% extends "base.html" %}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    <div class="container card card-body content">
        <h1>Студенческая Экспериментальная Лаборатория Физики</h1>
        <p>Студенческая Экспериментальная Лаборатория Физики (СЭЛФ) была создана в 2008 году на базе кафедры <a href="http://fn.bmstu.ru/tm-fs-4">«Физика»</a> факультета «Фундаментальные Науки». Кафедра имеет большой физический практикум. В лаборатории СЭЛФ студенты получают возможность попробовать себя в проектной научной работе, выполнить свои первые исследования и презентовать результаты научному сообществу.</p>
        <p>Отличительной чертой лаборатории СЭЛФ является проектный подход к решению актуальных исследовательских, образовательных и инжиниринговых задач. Лаборатория помогает собрать команду из преподавателей, учёных и студентов МГТУ им. Н.Э. Баумана в соответствии с нуждами конкретного студенческого проекта. СЭЛФ помогает участникам проявить свои лидерские качества, научиться работать в команде разнопрофильных специалистов.</p>
        <h1>Команда центра</h1>
        <p>Основной состав лаборатории – студенты. Каждый семестр в научной работе СЭЛФ принимают участие от 50 до 100 студентов всех факультетов МГТУ им. Н.Э. Баумана. Студенты организуются в проектные группы по 3-6 человек. Также в работе лаборатории принимают участие преподаватели и сотрудники МГТУ, желающие развивать молодёжную науку.</p>
        <h1>Исследования, разработки, внедрения, достижения центра</h1>
        <p>На базе СЭЛФ проектными командами выполнены несколько сотен исследовательских работ, результаты которых представлены на конференциях вплоть до международного уровня, а также опубликованы в журналах, индексируемых в <a href="https://www.elibrary.ru">РИНЦ</a>, <a href="https://www.scopus.com/">Скопус</a>, <a href="https://webofknowledge.com">WoS</a>.</p>
        <p>На базе научных работ создано множество учебных стендов, которые являются основой для дальнейших исследований и уникальных лабораторных работ. Команды лаборатории СЭЛФ регулярно становятся призерами и победителями различных конкурсов и выставок, в частности – Всероссийской научно-инженерной выставке «Политехника».</p>
        <p>Мы стремимся развивать молодежную науку и внедряем новые методы ведения научной и проектной деятельности. Так, помимо исследовательских проектных команд в лаборатории организованы отделы: грантов, дизайна, маркетинга, перевода, SMM. Отделы позволяют студентам проявить свои творческие и организаторские способности, а благодаря их активному участию в деятельности лаборатории, мы ведем научную деятельность ещё эффективнее. Так, отделом патентов было зарегистрировано 13 патентов на студенческие разработки.</p>
        <h1>Научный руководитель лаборатории</h1>
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid rounded" src="{% static 'img/MAN.jpg' %}" alt="Морозов Андрей Николаевич">
                <div class="caption">
                    <p>Морозов Андрей Николаевич</p>
                </div>
            </div>
            <div class="col-md-9">
                <ul>
                    <li>Член-корреспондент Российской академии наук</li>
                    <li>Доктор физико-математических наук</li>
                    <li>Профессор, заведующий кафедрой <a href="http://fn.bmstu.ru/tm-fs-4">«Физика»</a> МГТУ им. Н.Э. Баумана</li>
                </ul>
            </div>
        </div>
        <h1>Руководитель лаборатории</h1>
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid rounded" src="{% static 'img/SBG.jpg' %}" alt="Скуйбин Борис Георгиевич">
                <div class="caption">
                    <p>Скуйбин Борис Георгиевич</p>
                </div>
            </div>
            <div class="col-md-9">
                <ul>
                    <li>Доцент кафедры <a href="http://fn.bmstu.ru/tm-fs-4">«Физика»</a></li>
                    <li>Кандидат физико-математических наук</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
