{% extends "base.html" %}
{% load static %}

{% block title %}
    Интерферометр Майкельсона
{% endblock %}

{% block head %}
    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
{% endblock %}

{% block content %}
    {% include 'components/interferometer-interface.html' %}

    <div class="container pt-5">
        <div class="accordion" id="accordionTables">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Структура Интерферометра Майкельсона
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body text-center">
                        <img src="{% static 'img/michelson_struct.png' %}" alt="michelson_struct" class="w-75 h-50 rounded">
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Сохраненные наборы данных
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div id="presets" class="accordion-body">
                        {% include 'components/presets-table-m.html' %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        История ваших запросов
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div id="history" class="accordion-body">
                        {% include 'components/history-table-m.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/autoFill.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/updateWithoutReload.js' %}" type="text/javascript"></script>
{% endblock %}
