{% extends "base.html" %}

{% block title %}
    Команда разработчиков
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card card-body">
            <h4 class="text-center">Команда разработчиков</h4>
            <div class="row">
                <div class="col-md-6">
                    <h5 class="text-center">Фабри-Перо</h5>
                    <ul>
                        <li>
                            Арсений Булгаков
                        </li>
                        <li>
                            Сергей Степнов
                        </li>
                        <li>
                            Денис Есин
                        </li>
                        <li>
                            Максим Вольняга
                        </li>
                        <li>
                            Валерия Барченко
                        </li>
                        <li>
                            Кирилл Дремин
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5 class="text-center">Майкельсон</h5>
                    <ul>
                        <li>
                            Юрий Катасонов
                        </li>
                        <li>
                            Артем Тихоненко
                        </li>
                        <li>
                            Иван Мамврийский
                        </li>
                        <li>
                            Алина Жаворонкова
                        </li>
                        <li>
                            Даниил Миронов
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}