{% extends "base.html" %}

{% block title %}
    Главная
{% endblock %}

{% block main_tab %}
    <li class="nav-item">
        <a class="nav-link active" href="/">Главная</a>
    </li>
{% endblock %}

{% block content %}

    {% include 'components/interferometer-interface.html' with graph=graph %}

    <script type="text/javascript">
        $(document).on('submit','#task-form',function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "index" %}',
                data: {
                    task:$("#task").val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
            })
        });
    </script>
{% endblock %}
