{% extends "base.html" %}

{% block title %}
    Главная
{% endblock %}

{% block main_tab %}
    <li class="nav-item">
        <a class="nav-link active" href="/">Главная</a>
    </li>
{% endblock %}

{% block content %}
    {% load crispy_forms_filters %}
    {% load crispy_forms_tags %}

    <div class="container pt-5 pb-5">
        <div class="card card-body">
            <div class="row align-items-center">
                <div class="col-md-7">
                    {% if graph %}
                        {{ graph | safe }}
                    {% else %}
                        <div class="alert alert-secondary text-center" role="alert">
                            <p>Предоставьте требуемые данные в указанную форму.</p>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-5">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <br>
                        <input type="submit" value="Посмотреть кольца" class="btn btn-success">
                    </form>
                </div>
            </div>
            <br>
            <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Цвет лазера</th>
                    <th scope="col">Расстояние между стеклами</th>
                    <th scope="col">Фокусное расстояние линзы</th>
                    <th scope="col">Разница хода</th>
                    <th scope="col">Коэффициент отражения</th>
                    <th scope="col">Коэффициент преломления</th>
                    <th scope="col">Размер рисунка</th>
                    <th scope="col">Значение интенсивности излучения лазера</th>
                    <th scope="col">Разрешение</th>
                </tr>
            </thead>
            <tbody>
                {% for req in array_of_reqs %}
                    <tr>
                        <th scope="row">
                            <button type="button" class="btn btn-outline-success btn-sm btn-block" onclick="autoFill({{ forloop.counter }})">{{ forloop.counter }}</button>
                        </th>
                        <td id="laser-color-{{ forloop.counter }}" class="{{ req.laser_color }}">{{ req.get_laser_color_display }}</td>
                        <td id="glasses-dist-{{ forloop.counter }}">{{ req.glasses_distance }}</td>
                        <td id="focal-distance-{{ forloop.counter }}">{{ req.focal_distance }}</td>
                        <td id="stroke-difference-{{ forloop.counter }}">{{ req.stroke_difference }}</td>
                        <td id="reflectivity-{{ forloop.counter }}">{{ req.reflectivity }}</td>
                        <td id="refractive-index-{{ forloop.counter }}">{{ req.refractive_index }}</td>
                        <td id="picture-size-{{ forloop.counter }}">{{ req.picture_size }}</td>
                        <td id="incident-light-intensive-{{ forloop.counter }}">{{ req.incident_light_intensity }}</td>
                        <td id="n-{{ forloop.counter }}">{{ req.N }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

    <script type="text/javascript">
        function autoFill(num) {
            document.getElementById("id_laser_color").value = document.getElementById("laser-color-" + num).className;
            document.getElementById("id_glasses_distance").value = document.getElementById("glasses-dist-" + num).innerText;
            document.getElementById("id_focal_distance").value = document.getElementById("focal-distance-" + num).innerText;
            document.getElementById("id_stroke_difference").value = document.getElementById("stroke-difference-" + num).innerText;
            document.getElementById("id_reflectivity").value = document.getElementById("reflectivity-" + num).innerText;
            document.getElementById("id_refractive_index").value = document.getElementById("refractive-index-" + num).innerText;
            document.getElementById("id_picture_size").value = document.getElementById("picture-size-" + num).innerText;
            document.getElementById("id_incident_light_intensity").value = document.getElementById("incident-light-intensive-" + num).innerText;
            document.getElementById("id_N").value = document.getElementById("n-" + num).innerText;
        }
    </script>
{% endblock %}
