{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

<div class="container py-5">
    <div class="card card-body">
        <div class="row align-items-center">
            <div class="col-md-7">
                {% if graph %}
                    {{ graph | safe }}
                {% else %}
                    <div class="alert alert-secondary text-center" role="alert">
                        <p>Предоставьте требуемые данные в указанную форму.</p>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-5">
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <br>
                    <input type="submit" value="Посмотреть кольца" class="btn btn-success" name="send">
                    <input type="submit" value="Сохранить данные" class="btn btn-success" name="save">
                </form>
            </div>
        </div>
    </div>
</div>