{% load static %}

<footer id="footer">
    <div class="container p-2 text-muted">
        <div class="pb-1">
            <a class="mx-2 text-muted" href="/team">Авторы</a>
            <a class="mx-2 text-muted" href="https://github.com/Azazel-h/Interference_Simulation_System">Исходный код</a>
        </div>
        <div>
            <img src="{% static 'img/bmstu.webp' %}" alt="Logo" width="16" height="16">
            Студенческая Экспериментальная Лаборатория Физики © 2022
        </div>
    </div>
</footer>
